html {
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  color: #555;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
}

.page-container {
  width: 1199px;
  height: calc(100% - 60px);
  left: 80px;
  top: 60px;
  position: absolute;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: #337ab7;
  cursor: pointer;
  text-decoration: underline;
}

/* Input appearances */
input::-webkit-caps-lock-indicator {
  content: none;
}
